@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #111827;
  --brand-color-shade-1: #111827;
  --brand-color: #111827;
  --background-color: #ffffff;
  --border-radius: 6px;
  --item-height: 36px;
  --link-color: #111827;
}

hanko-profile {
  --container-max-width: full;
  --container-padding: 24px;
}

hanko-profile::part(container) {
  border: solid 1px #d8dee3;
  border-radius: 6px;
}

hanko-profile::part(input) {
  background-color: #ffffff;
  margin-bottom: 12px;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
