@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
  }
}

/* hanko specific styles */

:root {
  --color: #111827;
  --brand-color-shade-1: #111827;
  --brand-color: #111827;
  --background-color: #ffffff;
  --border-radius: 6px;
  --item-height: 36px;
  --link-color: #111827;
}

hanko-profile {
  --container-max-width: full;
  --container-padding: 24px;
}

hanko-profile::part(container) {
  border: solid 1px #d8dee3;
  border-radius: 6px;
}

hanko-profile::part(input) {
  background-color: #ffffff;
  margin-bottom: 12px;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
